USE [master]
GO
/****** Object:  Database [DataCrud]    Script Date: 28.07.2022 19:06:23 ******/
CREATE DATABASE [DataCrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataCrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataCrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataCrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataCrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataCrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataCrud]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28.07.2022 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Salary] [money] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Salary]) VALUES (1, N'İbrahim', N'Kaya', N'Yozgat', 1000.0000)
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Salary]) VALUES (8, N'Devran', N'Akay', N'Ankara', 4000.1500)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
